<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>  

<h1> <%= @user.username %>, Create a Roster! </h1>

<form method="POST" action="/rosters/create">

Name: <input type="text" name="roster_name"><br><br>

<input type="submit" value="Create Roster"> 

</form>

 <a href="/users/index">
      <button>Go Back</button>
 </a> 