<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>  

<h1>Welcome <%=@user.username %> </h1>


<h2> These are the rosters you created - Click to view roster </h2> 
  <ul><% @user.rosters.each do |roster| %>
    <li><a href="/rosters/<%=roster.roster_name %>"><%=roster.roster_name%></a> </li>
    <br>
  <% end %> </ul>

<h2>Please Make a Selection </h2>

<ul>
<li><a href="/rosters/create">Create Roster</a></li><br>
<li><a href="/players/create">Create Players</a></li><br>
<li><a href="/rosters/index">View Rosters</a></li><br>
<li><a href="/players/index">View Players</a></li>
</ul>

<br>

 <a href="/logout">
      <button>Logout</button>
 </a> 