<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>  


index for roster - this is a users homepage
<h1>Welcome <%=@user.username %> </h1>

<h2>Please Make a Selection </h2>

# user should be able to make rosters
# user should be able to make players
# user should be able to assign player to a roster


<a href="/rosters/create">Create Roster</a>
<a href="/rosters/create">Create Players</a>


 <a href="/logout">
      <button>Logout</button>
 </a> 