<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %> 

# players index - these should be selectable players

<ul><% @players.each do |player| %>
<li><a href="/players/<%=player.slug%>"><%=player.name%> </a></li><br>
<% end %></ul>


 <a href="/users/index">
      <button>Go Back</button>
 </a> 